{% extends 'Master/MenuBgTemplate.html.twig' %}

{% block body %}
    {% set works = fsc.model.getTrabajos() %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="h3">
                    <i class="fa-solid fa-cut me-1"></i> {{ fsc.title }}
                </h1>
                <p>{{ trans('copy-p') }}</p>
                <form method="post" onsubmit="animateSpinner('add')">
                    {{ formToken() }}
                    <input type="hidden" name="action" value="save"/>
                    <input type="hidden" name="code" value="{{ fsc.modelCode }}"/>
                    <input type="hidden" name="model" value="{{ fsc.modelClass }}"/>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="col-sm-12 col-md-6">
                                    {{ trans('customer') }}
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <i class="fa-solid fa-search"></i>
                                            </span>
                                            <input type="hidden" id="codclienteAutocomplete" name="codcliente"
                                                   value="{{ fsc.model.codcliente }}"/>
                                            <input type="text" id="codcliente"
                                                   value="{{ fsc.model.nombrecliente | raw }}"
                                                   class="form-control autocomplete-dc"
                                                   data-field="codcliente" data-source="Cliente"
                                                   data-fieldcode="codcliente" data-fieldtitle="nombre"
                                                   placeholder="{{ trans('customer') }}" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-2">
                                    {{ trans('date') }}
                                    <div class="mb-3">
                                        <input type="date" name="fecha" value="{{ "now" | date('Y-m-d') }}"
                                               class="form-control" required/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-2">
                                    {{ trans('hour') }}
                                    <div class="mb-3">
                                        <input type="time" name="hora" value="{{ "now" | date('H:i:s') }}"
                                               class="form-control" required/>
                                    </div>
                                </div>
                                <div class="col-sm d-flex align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="copy-attachments"
                                               id="copyAttachments">
                                        <label class="form-check-label" for="copyAttachments">
                                            {{ trans('copy-attachments') }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    {{ trans('description') }}
                                    <div class="mb-3">
                                        <textarea name="descripcion" class="form-control" rows="3"
                                                  required>{{ fsc.model.descripcion }}</textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    {{ trans('material') }}
                                    <div class="mb-3">
                                        <textarea name="material" class="form-control" rows="3">{{ fsc.model.material }}</textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    {{ trans('solution') }}
                                    <div class="mb-3">
                                        <textarea name="solucion" class="form-control" rows="3">{{ fsc.model.solucion }}</textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    {{ trans('observations') }}
                                    <div class="mb-3">
                                        <textarea name="observaciones" class="form-control" rows="3">{{ fsc.model.observaciones }}</textarea>
                                    </div>
                                </div>
                            </div>
                            {% if works is not empty %}
                                <div class="row">
                                    <div class="col-12 h4">
                                        {{ trans('works') }}
                                    </div>
                                </div>
                                {% for work in works %}
                                    <div class="row g-2 border-top pt-2">
                                        <div class="col-sm-2">
                                            {{ trans('start-date') }}
                                            <div class="mb-3">
                                                <input type="date" name="fechainicio[]"
                                                       value="{{ "now" | date('Y-m-d') }}"
                                                       class="form-control" required/>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            {{ trans('start-hour') }}
                                            <div class="mb-3">
                                                <input type="time" name="horainicio[]"
                                                       value="{{ "now" | date('H:i:s') }}"
                                                       class="form-control" required/>
                                            </div>
                                        </div>
                                        {% if work.observaciones %}
                                            <div class="col-sm">
                                                {{ trans('observations') }}
                                                <div class="mb-3">{{ work.observaciones }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <a href="{{ fsc.model.url() }}" class="btn btn-secondary">
                                    {{ trans('cancel') }}
                                </a>
                                <button type="submit" class="btn btn-spin-action btn-primary">
                                    <i class="fa-solid fa-save me-1"></i> {{ trans('save') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script>
        function businessDocViewAutocompleteGetData(formId, formData, term) {
            let rawForm = $("form[id=" + formId + "]").serializeArray();
            $.each(rawForm, function (i, input) {
                formData[input.name] = input.value;
            });
            formData["action"] = "autocomplete";
            formData["term"] = term;
            return formData;
        }

        $(document).ready(function () {
            $(".autocomplete-dc").each(function () {
                let data = {
                    field: $(this).attr("data-field"),
                    fieldcode: $(this).attr("data-fieldcode"),
                    fieldtitle: $(this).attr("data-fieldtitle"),
                    source: $(this).attr("data-source")
                };
                let formName = $(this).closest("form").attr("name");
                $(this).autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            method: "POST",
                            url: "{{ fsc.url() }}",
                            data: businessDocViewAutocompleteGetData(formName, data, request.term),
                            dataType: "json",
                            success: function (results) {
                                let values = [];
                                results.forEach(function (element) {
                                    if (element.key === null || element.key === element.value) {
                                        values.push(element);
                                    } else {
                                        values.push({key: element.key, value: element.key + " | " + element.value});
                                    }
                                });
                                response(values);
                            },
                            error: function (msg) {
                                alert(msg.status + " " + msg.responseText);
                            }
                        });
                    },
                    select: function (event, ui) {
                        if (ui.item.key !== null) {
                            $("#" + data.field + "Autocomplete").val(ui.item.key);
                            let value = ui.item.value.split(" | ");
                            if (value.length > 1) {
                                ui.item.value = value[1];
                            } else {
                                ui.item.value = value[0];
                            }
                        }
                    },
                    open: function (event, ui) {
                        $(this).autocomplete('widget').css('z-index', 1500);
                        return false;
                    }
                });
            });
        });
    </script>
{% endblock %}