{% extends "Master/MenuTemplate.html.twig" %}

{% block bodyHeaderOptions %}
    {{ parent() }}
    <div class="container pt-4">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-0">{{ i18n.trans('new-service') }}</h1>
                <p>{{ i18n.trans('new-service-p') }}</p>
                <ul class="nav nav-tabs">
                    {% if fsc.cliente.exists() %}
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ i18n.trans('customer') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">{{ i18n.trans('machine') }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="#">{{ i18n.trans('customer') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ i18n.trans('machine') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        {% if fsc.cliente.exists() %}
            <div class="row">
                <div class="col-sm">
                    {{ _self.machineList(fsc, i18n) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card shadow mt-5 mb-5">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="newm-tab" data-toggle="tab" href="#newm" role="tab" aria-controls="newm" aria-selected="false">
                                        {{ i18n.trans('new-machine') }}
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="findm-tab" data-toggle="tab" href="#findm" role="tab" aria-controls="findm" aria-selected="true">
                                        {{ i18n.trans('search') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="newm" role="tabpanel" aria-labelledby="newm-tab">
                                    {{ _self.newMachineTab(fsc, i18n) }}
                                </div>
                                <div class="tab-pane fade" id="findm" role="tabpanel" aria-labelledby="findm-tab">
                                    {{ _self.findMachineTab(fsc, i18n) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <form id="formSearchCustomer" method="post">
                <input type="hidden" name="action" value="" />
                <input type="hidden" name="codcliente" value="{{ fsc.cliente.codcliente }}" />
                <div class="row mt-4">
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input type="text" name="query" class="form-control" id="customerac" placeholder="{{ i18n.trans('search') }}" autofocus="" />
                        </div>
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary">
                            {{ i18n.trans('continue') }}
                        </button>
                        &nbsp;
                        <a href="{{ fsc.getNewCustomerUrl() }}" class="btn btn-success">
                            {{ i18n.trans('new-customer') }}
                        </a>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.css') }}" />
    <style>
        .bg-header {
            background-color: #FAFBFC;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#customerac").autocomplete({
                source: function (request, response) {
                    var formData = {};
                    var rawForm = $("form[id=formSearchCustomer]").serializeArray();
                    $.each(rawForm, function (i, input) {
                        formData[input.name] = input.value;
                    });
                    formData["action"] = "autocomplete-customer";
                    console.log(formData);
                    $.ajax({
                        method: "POST",
                        url: "NewServicioAT",
                        data: formData,
                        dataType: "json",
                        success: function (results) {
                            var values = [];
                            results.forEach(function (element) {
                                if (element.key === null || element.key === element.value) {
                                    values.push(element);
                                } else {
                                    values.push({key: element.key, value: element.key + " | " + element.value});
                                }
                            });
                            response(values);
                        },
                        error: function (msg) {
                            alert(msg.status + " " + msg.responseText);
                        }
                    });
                },
                select: function (event, ui) {
                    if (ui.item.key !== null) {
                        $("form[id=formSearchCustomer] input[name=codcliente]").val(ui.item.key);
                        var value = ui.item.value.split(" | ");
                        if (value.length > 1) {
                            ui.item.value = value[1];
                        } else {
                            ui.item.value = value[0];
                        }
                    }
                }
            });
            $("#machineac").autocomplete({
                source: function (request, response) {
                    var formData = {};
                    var rawForm = $("form[id=formSearchMachine]").serializeArray();
                    $.each(rawForm, function (i, input) {
                        formData[input.name] = input.value;
                    });
                    formData["action"] = "autocomplete-machine";
                    console.log(formData);
                    $.ajax({
                        method: "POST",
                        url: "NewServicioAT",
                        data: formData,
                        dataType: "json",
                        success: function (results) {
                            var values = [];
                            results.forEach(function (element) {
                                if (element.key === null || element.key === element.value) {
                                    values.push(element);
                                } else {
                                    values.push({key: element.key, value: element.key + " | " + element.value});
                                }
                            });
                            response(values);
                        },
                        error: function (msg) {
                            alert(msg.status + " " + msg.responseText);
                        }
                    });
                },
                select: function (event, ui) {
                    if (ui.item.key !== null) {
                        $("form[id=formSearchMachine] input[name=idmaquina]").val(ui.item.key);
                        var value = ui.item.value.split(" | ");
                        if (value.length > 1) {
                            ui.item.value = value[1];
                        } else {
                            ui.item.value = value[0];
                        }
                    }
                }
            });
            $("#nomachineBtn").click(function () {
                $(this.form.action).val('no-machine');
                $(this.form).submit();
            });
        });
    </script>
{% endblock %}

{% macro findMachineTab(fsc, i18n) %}
    <form id="formSearchMachine" method="post">
        <input type="hidden" name="action" value="machine" />
        <input type="hidden" name="codcliente" value="{{ fsc.cliente.codcliente }}" />
        <input type="hidden" name="idmaquina" value="" />
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input type="text" name="query" class="form-control" id="machineac" placeholder="{{ i18n.trans('search') }}" />
                </div>
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">
                    {{ i18n.trans('continue') }}
                </button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro machineList(fsc, i18n) %}
    <form method="post">
        <input type="hidden" name="action" value="machine" />
        <input type="hidden" name="codcliente" value="{{ fsc.cliente.codcliente }}" />
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ i18n.trans('name') }}</th>
                        <th>{{ i18n.trans('serial-number') }}</th>
                        <th>{{ i18n.trans('reference') }}</th>
                        <th>{{ i18n.trans('manufacturer') }}</th>
                        <th class="text-right">{{ i18n.trans('date') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for machine in fsc.maquinas %}
                        <tr>
                            <td>
                                <div class="form-check">
                                    {% if loop.index == 1 %}
                                        <input class="form-check-input" type="radio" name="idmaquina" value="{{ machine.idmaquina }}" id="maquina{{ loop.index }}" checked=""/>
                                    {% else %}
                                        <input class="form-check-input" type="radio" name="idmaquina" value="{{ machine.idmaquina }}" id="maquina{{ loop.index }}" />
                                    {% endif %}
                                    <label class="form-check-label" for="maquina{{ loop.index }}">
                                        {{ machine.nombre }}
                                    </label>
                                </div>
                            </td>
                            <td>{{ machine.numserie }}</td>
                            <td>{{ machine.reference }}</td>
                            <td>{{ machine.getFabricante().nombre }}</td>
                            <td class="text-right">{{ machine.fecha }}</td>
                        </tr>
                    {% else %}
                        <tr class="table-warning">
                            <td colspan="6">{{ i18n.trans('customer-has-no-machines') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            {% if fsc.maquinas %}
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary">
                        {{ i18n.trans('continue') }}
                    </button>
                </div>
            {% endif %}
            <div class="col-sm text-right">
                <button type="button" class="btn btn-secondary" id="nomachineBtn">
                    <i class="fas fa-times-circle"></i>&nbsp; {{ i18n.trans('no-machine') }}
                </button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro newMachineTab(fsc, i18n) %}
    <form method="post">
        <input type="hidden" name="action" value="new-machine" />
        <input type="hidden" name="codcliente" value="{{ fsc.cliente.codcliente }}" />
        <div class="form-row">
            <div class="col-sm">
                <div class="form-group">
                    {{ i18n.trans('name') }}
                    <input type="text" name="nombre" class="form-control" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    {{ i18n.trans('serial-number') }}
                    <input type="text" name="numserie" class="form-control" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    {{ i18n.trans('reference') }}
                    <input type="text" name="referencia" class="form-control" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    {{ i18n.trans('manufacturer') }}
                    <select name="codfabricante" class="form-control">
                        {% for item in fsc.codeModel.all('fabricantes','codfabricante','nombre') %}
                            <option value="{{ item.code }}">
                                {{ item.description | raw }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm">
                <div class="form-group">
                    {{ i18n.trans('observations') }}
                    <textarea class="form-control" name="descripcion"></textarea>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm text-right">
                <button type="submit" class="btn btn-success">
                    {{ i18n.trans('save') }}
                </button>
            </div>
        </div>
    </form>
{% endmacro %}